

.nav-link{
    color: white !important;
    }
.backgrnd {
       background-image: linear-gradient(to bottom, blueviolet,rgba(245, 246, 252, 0.52)),url(student.jpg); 
       background-size: cover;
       height:80vh;

 }
 .mid{
     background-image:linear-gradient(to bottom,blueviolet,rgba(245, 246, 252, 0.52));
     align-content: center;
 }
 .login{
     z-index: 1;
 }
 .midhead {
position: relative;
align-content: center;
color: white;
font-weight: bold;
font-size: 8vh;
 }
 .midpara {
     color:white;
     font-size: 3vh;
 }